@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Nunito&display=swap');
@font-face {
    font-family: 'Iconic Bold';
    src: url('../fonts/Iconic-Bold-trial.ttf');
}
@font-face {
    font-family: 'Iconic Regular';
    src: url('../fonts/Iconic-Regular-trial.ttf');
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('../fonts/LEMONMILK-Medium.otf');
}
@font-face {
    font-family: 'BoldFont';
    src: url("../fonts/THEBOLDFONT\ 2022.otf");
}
*{
    margin: 0;
}
html{
    background-color: #0077B6;
}
.imagen-logo{
    width: 150px;
    margin: 1rem 0rem 0 3rem ; 
    background-color: #0f0964;
    border-radius: 50px;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
}
.header-datos{
    background-color: #86d3fff6;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.title-base{
    padding: 130px;
    text-align: center;
    font-family: "Iconic Regular";
    font-size: 100px;
    margin-top: -40px;
}
#botonMostrar{
    margin: 40px 0 10px 100px;
    font-family: "Lemon Milk";
    background-color: #50c3f8;
    cursor: pointer;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
#botonMostrar:hover{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.productos{
    display: grid;
    flex-grow: 0;
    background-color: #0077B6;
}
.product{
    display: flex;
    margin: 20px;
    background-color: #90E0EF;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.imagen{
    width: 60px;
    height: 60px;
    margin: 20px;
}
.name{
    font-family: 'Iconic Regular';
    font-size: 30px;
}
.nada{
    background-color: #00B4D8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#botonAgregar{
    background-color: #00B4D8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#contenedor{
    display: grid;
    flex-grow: 0;
    background-color: #0077B6;
}