@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Nunito&display=swap');
@font-face {
    font-family: 'Iconic Bold';
    src: url('../fonts/Iconic-Bold-trial.ttf');
}
@font-face {
    font-family: 'Iconic Regular';
    src: url('../fonts/Iconic-Regular-trial.ttf');
}
@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/Cocogoose\ Pro\ Light-trial.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.904);
}
@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  }
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    animation: fadeIn 0.9s ease-in-out forwards;

}
.image_login{
    width: 400px;
    margin: 2rem auto;
    display: grid;
}
.login_cuadro{
    display: grid;
    border: 8px solid gray;
    padding: 5rem 10rem 5rem 10rem;
    border-radius: 7rem;
    background-color: rgba(10, 21, 58, 0.11);
}
.info_login_cuadro{
    display: grid;
    padding: 6rem;
    font-family: 'Iconic regular';
    font-size: 2rem;
}
.title_login{
    font-family: "Iconic Bold";
    font-size: 6rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    color: rgb(150, 231, 231);
}
.input_email{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid lightblue;
    font-size: 30px;
    padding: 10px;
}
.buttons-login{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
    
}
.go_admin_page, .go_index{
    text-decoration: none;
    color: white;
    border: 5px solid rgba(109, 194, 223, 0.705);
    border-radius: 20px;
    padding: 2rem;
    font-size: 2rem;
    font-family: "cocogoose";
    background-color: rgb(13, 64, 105);
}